<template>
    <img
        class="img-center"
        width="100"
        alt="Kinali logo"
        src="@/assets/images/logo.svg"
    />
    <h1 class="text-center">:-)</h1>
</template>
<script lang="ts">
import {
    DefaultApolloClient,
    provideApolloClient,
} from '@vue/apollo-composable'
import { defineComponent, provide } from 'vue'
import { apolloClient } from './plugins/apolloClient'

export default defineComponent({
    setup() {
        provide(DefaultApolloClient, apolloClient)
        provideApolloClient(apolloClient)

        return {}
    },
})
</script>

<style lang="scss">
.text-center {
    text-align: center;
}

.img-center {
    margin: 0 calc(50% - 50px);
}
</style>
